.card {
  border-radius: 10px;
  width: 282px;
  overflow: hidden;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #fff;
  flex-direction: column;
}

.card__image {
  width: 100%;
  height: 282px;
  object-fit: cover;
}

.card__discription {
  width: 282px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0;
}

.card__title {
  max-width: 220px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 0 0 20px;
  padding: 0;
}

.card__like-btn {
  border: none;
  background-image: url("../images/heart.svg");
  background-color: transparent;
  width: 21px;
  height: 18px;
  cursor: pointer;
  margin-right: 25px;
}

.card__like-btn:hover {
  opacity: 0.5;
}
