.footer {
  max-width: 880px;
  margin: 50px auto;
}

.footer__copywriting {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
  padding-top: 21px;
  color: #545454;
}

@media screen and (max-width: 470px) {
  .footer__copywriting {
    font-size: 14px;
  }
}
