.model {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

.model_opened {
  display: flex;
}

.model__container {
  position: relative;
  max-width: 420px;
  justify-self: center;
  align-self: center;
  margin: auto;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.model__title {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  max-width: 330px;
  margin: 34px 0 0 36px;
}

.model__close-button {
  background-image: url(../images/close_icon.svg);
  background-size: cover;
  background-position: center;
  background-color: transparent;
  position: absolute;
  width: 40px;
  height: 40px;
  top: -40px;
  right: -40px;
}

.model__close-button:hover {
  opacity: 0.6;
}

.model__form {
  max-width: 358px;
  margin: 50px 36px 27px 36px;
}

.model__fieldset {
  margin: 0;
  padding: 0;
  border: none;
  gap: 30px;
}

.model__form-input {
  width: 100%;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 13px;
}

.model__form-input:last-child {
  margin-top: 29px;
}

.model__submit-button {
  width: 100%;
  height: 50px;
  background-color: #000;
  color: #fff;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  margin: 44px 0 0 0;
  padding: 0;
  text-align: center;
  border-radius: 2px;
}

.model__submit-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 470px) {
  .model__container {
    max-width: 282px;
  }

  .model__title {
    font-size: 18px;
    max-width: 238px;
    margin: 25px 0 0 25px;
  }

  .model__close-button {
    width: 26px;
    height: 26px;
    right: 3px;
  }

  .model__close-button-icon {
    width: 26px;
    height: 26px;
  }

  .model__form {
    max-width: 238px;
    margin: 65px 25px 25px 25px;
  }

  .model__form-input {
    font-size: 14px;
  }

  .model__form-input:last-child {
    margin-top: 27px;
  }
  .model__submit-button {
    font-size: 14px;
  }
}
