.page {
  font-family: Inter, Arial, Helvetica, sans-serif;
  background-color: #000;
}

.page__content {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media screen and (max-width: 470px) {
  .page__content {
    padding: 0;
  }
}
